*{
padding:0;
margin:0;
box-sizing:border-box;
}
header{
    padding: 10px;
    background-color: skyblue;
    width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
 font-size: 40px;
 
}
.logo{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
   background: transparent;
}
.logo img{
    width: 90px;
    height: 70px;
padding: 4px;
background: transparent;
}
header input{
    width: 400px;
    height: 50px;
    padding: 20px;
    border-radius: 7px;
    border: none;
}
header i{
    color: black;
    font-size: 20px;
    padding: 10px;
}
.container{
    max-width: 1200px;
    margin:20px auto;
    border: 2px solid red;
}
.container h1{
    font-weight: bold;
    font-size: 40px;
    padding: 20px;

}
.container h1:hover{
    color: red;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
     
   
}
.cards .card{
    height: 290px;
    width: 250px;
    margin-bottom: 30px;

}
.card img,video{
    height: 100%;
    width: 100%;
     object-fit: cover;   /* 🔥 MOST IMPORTANT */
  display: block;
  border-radius: 10px;
}

